*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

button {
  border: none;
  font: inherit;
}

img {
  display: block;
}
